<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="/png-clipart-sticker-drawing-i-like-it-tho-anime-logo-naruto-english-text-thumbnail.png" width="50" height="50" class="me-2">
            <span class="fs-4">Happy Store</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>

                <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Login</a>
                <a class="py-2 text-dark text-decoration-none" href="/register">Register</a>
        </nav>
    </div>
</header>