{% extends "layout.twig" %}
{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users. Create</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <form action="/user/add" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User name</label>
                        <input name="userName" type="text" class="form-control" id="exampleInputEmail1" placeholder="User name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">User role</label>
                        <select name="roleId"
                                class="form-control select2 select2-hidden-accessible"
                                style="width: 100%;"
                                data-select2-id="1"
                                tabindex="-1"
                                aria-hidden="true">
                            <option value="select">-Please select role-</option>
                            {% for role in roles %}
                                <option value="{{ role.id }}">
                                    {{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}
